.vs/

# Bin and Obj folders
# obj/
LKPlanWiseBackend/bin/
LKPlanWiseBackend/obj/
Controllers/bin/
Controllers/obj/
Repository/bin/
Repository/obj/
IRepository/bin/
IRepository/obj/
Entities/bin/
Entities/obj/
# SerilogService/bin/
# SerilogService/obj/
Service/bin/
Service/obj/
IService/bin/
IService/obj/
Shared/bin/
Shared/obj/
UnitTest/bin/
UnitTest/obj/